*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin: 20px 0;
    box-shadow: inset 0 -5px 0 lightgray;
    color:blueviolet
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    gap: 20px;
    background-color: gray;
    margin:auto;
    position:relative;
}
#forward{
    width:50px;
    height:50px;
    background-color:transparent;
    background-image:url("backward.png");
    background-size:cover;
    cursor:pointer;
}
#backward{
    width:50px;
    height:50px;
    background-color:transparent;
    background-image:url("backward.png");
    transform:rotate(180deg);
    background-size:cover;
    cursor:pointer;
}
#Autoplay{
   position:absolute;
   width:40px;
   height:40px;
   background-image:url("play.png");
   background-size:cover;
   cursor:pointer;
}
#forward:hover,#backward:hover{
    border: 2px solid whitesmoke;
    border-radius: 10px;
}
#image-holder{
    width:400px;
    height:300px;
    background-size:cover;
    border-radius:10px;
    background-position:center;
    transition:background-image 0.5s ease-in-out;
}